:root{

    /*Variables basicas de uso*/
    --color--principal: #fff;
    --color--secundario: #06A77D;
    --color--terciario: #D5C67A;
    --color--negro: #000;
    --color--gris: rgb(85, 79, 79);
    --color--gris--claro: rgb(214, 211, 211);
    --color--transparente: rgba(0,0,0,0.0);
    --color--opaco: rgba(0,0,0,0.4);
}

/*Declaración de la fuente*/
@font-face{
    font-family: 'heyWow';
    src: url(/heywow/HeyWowMedium.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    /*Se elimina el margin basico de los elementos*/
    margin: 0;

    /*Aplicamos la fuente anteriormente declarada*/
    font-family: 'heyWow';
}

.contenido {
    /*Orientación del contenido (display)*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    height: 100vh;

    /*Fondo de pantalla*/

    background-color: var(--color--negro);
    background-image: url(/imagenes/image-disco.webp);
    background-repeat: no-repeat;
    background-position:50% 20%;
    background-size:300px;
}

.contenido__label,
.contenido__input {
    /*Estilo tamaño (alto, ancho)*/
    width: 290px;
    height: 4%;

    /*Estilos (bordes a los extremos)*/
    border-radius: 15px;

    /*Estilos letra*/
    font-size: 1.2rem;
}

.contenido__input{
    /*Separación en cada input (parte de abajo)*/
    margin-bottom: 12px;
}

.contenido__label{
    /*Orientación label*/
    display: flex;
    justify-content: flex-start;
    align-items: end;

    /*Estilos letra*/
    color: var(--color--principal);
}

.contenido__input--login{
    /*Estilos del boton de Iniciar Sesión*/
    border-color: var(--color--principal);
    border-width: 2.5px;
    border-style: double;

    /*Fondo transparente del boton*/
    background-color: var(--color--transparente);

    color: var(--color--principal);
    
}

/*Estilos elementos especificos*/

a{
    outline: none;
    text-decoration: none;
}

a:link,
a:visited,
a:focus,
a:active  {
    color: var(--color--principal);
}

/* Estilos base para el mensaje */
.mensaje_nodisponible {
    display: none; /* Ocultar el mensaje por defecto */
    width: 100vw;
    height: 80vh;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    background-color: var(--color--gris--claro);
    color: var(--color--negro);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*Diseños y estilos de tablets*/

@media screen and (min-width: 500px){
    .navegación{
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/*Diseños y estilos de computadoras*/

@media screen and (min-width: 640px){
    
}