:root{

    /*Variables basicas de uso*/
    --color--principal: #fff;
    --color--secundario: #06A77D;
    --color--terciario: #D5C67A;
    --color--negro: #000;
    --color--gris: rgb(85, 79, 79);
    --color--gris--claro: rgb(214, 211, 211);
    --color--transparente: rgba(0,0,0,0.0);
    --color--opaco: rgba(0,0,0,0.4);
}

/*Declaración de la fuente*/
@font-face{
    font-family: 'heyWow';
    src: url(/heywow/HeyWowMedium.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    /*Se elimina el margin basico de los elementos*/
    margin: 0;

    /*Aplicamos la fuente anteriormente declarada*/
    font-family: 'heyWow';
}

.navegación{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}

.navegación__imagen{
    margin: 1vh 1vw;
    width: 40px;
}

.cabecera{
    width: 100vw;
}

.cabecera__datos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecera__social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.cabecera__social--seguidos{
    border: solid 1px;
    border-color: var(--color--gris--claro);
    border-radius: 12px;
    padding: 1vh 1vw;
    margin-right: 2vw;
}

.cabecera__social--imagen{
    background-color: var(--color--terciario);
    width: 40px;
    border-radius: 10px;
}

.cabecera__datos--imagen{
    width: 100px;
    border-radius: 50px;
}

.contenido{
    width: 100vw;
}

.contenido__ordenes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenido__ordenes--imagen{
    width: 30px;
}

.contenido__dirección,
.contenido__pago,
.contenido__preferencias{
    margin: 0 5vw;
}

.contenido__preferencias--vinilo,
.contenido__preferencias--cantidad,
.contenido__preferencias--categoria{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: var(--color--gris);
}

.contenido__preferencias--viniloid,
.contenido__preferencias--cantidadid,
.contenido__preferencias--categoriaid{
    grid-column: 2/3;
    grid-row: 1/3;
    border: solid 1px;
    border-color: var(--color--gris--claro);
    border-radius: 10px;
    padding: 1vh 3vw;
}

.contenido__preferencias--texto{
    font-weight: 900;
}

.contenido__pago__tarjetas{
    display: flex;
    overflow: scroll;
}

.contenido__pago__tarjetas__id{
    margin-right: 2vw;
}

.contenido__pago__tarjetas--imagen{
    width: 100px;
}

.contenido__pago__botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenido__dirección--enlace,
.contenido__pago__botones--diseño{
    border: solid 2px;
    border-color: var(--color--gris--claro);
    border-radius: 10px;
    padding: 1vh 10vw;
}

.contenido__dirección{
    display: flex;
    flex-direction: column;
}

.contenido__dirección--enlace{
    text-align: center;
    width: 40vw;
}

.contenido__dirección--texto{
    margin: 5px 0;
    color: var(--color--gris);
}

/*Estilo bottomsheet*/

.contenido__bottomsheet__objeto--cerrar, 
.contenido__bottomsheet__objeto--abrir {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.contenido__bottomsheet {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    height: 50%;
    background: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease-in-out;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 10;
    overflow: hidden;
}

.contenido__bottomsheet__objeto {
    padding: 20px;
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.contenido__bottomsheet h2 {
    margin-top: 0;
}

.contenido__bottomsheet__objeto--cerrar {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.contenido__bottomsheet__objeto__seguido{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contenido__bottomsheet__objeto__seguido--imagen{
    width: 50px;
    border-radius: 10px;
    margin-right: 1vw;
}

.contenido__bottomsheet__objeto__seguido--texto{
    color: var(--color--gris--claro);
}

.contenido__bottomsheet__objeto__datos--boton {
    cursor: pointer;
    background-color: forestgreen;
    font-size: larger;
    border: unset;
    border-radius: 6px;
    padding: 5px;
}

.contenido__bottomsheet__objeto__seguido--unfollow{
    cursor: pointer;
    border: solid 2px;
    border-color: var(--color--gris);
    border-radius: 10px;
    padding: 5px;
}

.contenido__bottomsheet__objeto__datos--texto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color--gris--claro);
    border-radius: 10px;
    cursor: pointer;
    width: 40vw;
    margin: 10px;
    padding: 5px;
}

.contenido__bottomsheet__objeto__dato--foto{
    width: 40px;
    padding-right: 2vw;
}

.contenido__bottomsheet__objeto__sesion--texto{
    background-color: var(--color--terciario);
    border-radius: 10px;
    padding: 8px;
    color: var(--color--secundario);
}

/* Mostrar bottom sheet cuando es el objetivo */
:target {
    bottom: 0;
}

/*Estilos elementos especificos*/

a{
    outline: none;
    text-decoration: none;
}

a:link,
a:visited,
a:focus,
a:active  {
    color: var(--color--negro);
}

/* Estilos base para el mensaje */
.mensaje_nodisponible {
    display: none; /* Ocultar el mensaje por defecto */
    width: 100vw;
    height: 80vh;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    background-color: var(--color--gris--claro);
    color: var(--color--negro);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}