:root{

    /*Variables basicas de uso*/
    --color--principal: #fff;
    --color--secundario: #06A77D;
    --color--terciario: #D5C67A;
    --color--negro: #000;
    --color--gris: rgb(85, 79, 79);
    --color--gris--claro: rgb(214, 211, 211);
    --color--transparente: rgba(0,0,0,0.0);
    --color--opaco: rgba(0,0,0,0.4);
}

/*Declaración de la fuente*/
@font-face{
    font-family: 'heyWow';
    src: url(/heywow/HeyWowMedium.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    /*Se elimina el margin basico de los elementos*/
    margin: 0;

    /*Aplicamos la fuente anteriormente declarada*/
    font-family: 'heyWow';
}

#cantidad{
    color: orangered;
}

.cabecera{
    padding-top: 1vh;
}

.cabecera__enlace{
    font-size: 20px;
    font-weight: bold;

}

.cabecera,
.base{
    /*Estilos cabecera-base*/
    display: flex;
    justify-content: space-around;
    align-items: center;

    /*Tamaño de la cabecera-base*/
    width: 100vw;
    height: 10%;
}

.cabecera__imagen,
.base__imagen{
    /*Tamaño de los iconos*/
    height: 40px;
}

.base{
    display: flex;
    background-color: var(--color--principal);
    width: 100vw;
    height: auto;

    /*Estilo de posición fija del footer*/
    position: fixed;
    bottom: 0;
}

.base__enlace{
    /*Estilo de cada icono del footer*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.busqueda{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.busqueda__texto{
    display: flex;
    width: 70vw;
    height: 4vh;
    color: var(--color--gris);
    background-color: var(--color--opaco);
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0 4vw;
    margin: 0;
}

.busqueda__imagen{
    width: 40px;
}

.busqueda__imagen--opciones{
    padding: 1px;
    border: solid 1px;
    border-color: var(--color--opaco);
    border-radius: 7px;
}

.navegación{
    /*Estilos de la barra de navegación*/
    display: flex;
    align-items: center;
    overflow: scroll;
    gap: 0 2%;

    margin: 0 1.2%;


    /*Tamaño*/
    width: 100vw;
    height: 80px;
}

.navegación__enlace{
    cursor: pointer;
}

.navegación__enlace--activado{
    font-weight: 1000;
}

.navegación__lista {
    width: 35px;
    border: inset;
    border-radius: 6px;
}

.contenido{
    display: grid;
    grid-template-columns: auto auto ;
    row-gap: 9px;
    column-gap: 9px;

    margin-bottom: 20%;
}

.contenido__sección{
    height:fit-content;
}

.contenido__sección__imagen{
    width: 50vw;
    height: 20vh;
}

.contenido__sección__descripción{
    margin: 0;
    margin-bottom: 2px;
    color: var(--color--gris);
}

.contenido__sección--peso{
    color: var(--color--terciario);
}


/*Estilos del Modal o PopUp*/

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100%; 
    overflow:auto; 
    background-color: var(--color--transparente); 
    backdrop-filter: blur(10px);
}

/*Mostrar el modal cuando se selecciona*/
.modal:target {
    display: block;
}

/*Contenido del modal*/
.modal__contenido {
    background-color: var(--color--transparente); 
    backdrop-filter: blur(10px);
    margin: auto;
    padding: 20px;
    width: 300px;
    animation: modalopen 0.4s; /*Animación*/

    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50px 327px 65px 65px;
    align-items: center;
    justify-items: end;
}

/*Animación para abrir el modal */
@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

/*Botón para cerrar */
.close {
    width: 27%;
    height: 30px;
    color: var(--color--negro);
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;

    grid-column: 2/3;
}

.close:hover,
.close:focus {
    color: var(--color--negro);
    text-decoration: none;
    cursor: pointer;
}

/* Imagen dentro del modal */
.modal__image {
    background-color: var(--color--principal);
    width: 300px;
    height: 300px;
    border-radius: 20px;

    grid-column: 1/3;
    grid-row: 2/3;
}

.modal__alerta{
    background-color: var(--color--principal);
    text-align: center;
    font-size: 20px;
    margin: 0 29px;
    border-radius: 10px;
}

.desaparecer{
    display: none;
}

/*Estilos de los logos*/
.modal__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color--principal);
    border-radius: 12px;

    width: 48px;
    height: 48px;

    grid-column: 1/3;
    grid-row: 3/4;

    margin: 20px 0;
}

.modal__logo--1{
    margin-right: 230px;
}

.modal__logo--2{
    margin-right: 170px;
}

.modal__logo--3{
    margin-right: 110px;
}

.modal__logo--4{
    margin-right: 50px;
}

.modal__perfil{
    background-color: var(--color--principal);
    border-radius: 8px;

    width: 300px;

    grid-column: 1/3;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 1vh 0;
}

.modal__perfil--imagen{
    width: 40px;
    height: 40px;

    border-radius: 40px;
}

.modal__logo {
    transition: transform 0.3s ease-in-out;
}

.modal__logo:hover {
    background-color: var(--color--secundario);
    
    /*Aumenta el tamaño del logo al 120%*/
    transform: scale(1.2); 
}

/*Diseños del carrito*/

.contenido__bottomsheet__objeto--cerrar, .contenido__bottomsheet__objeto--abrir {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}


.contenido__bottomsheet {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    height: 50%;
    background: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease-in-out;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 10;
    overflow: hidden;
}

.contenido__bottomsheet__objeto {
    padding: 20px;
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.contenido__bottomsheet h2 {
    margin-top: 0;
}

.contenido__bottomsheet__objeto--cerrar {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.contenido__bottomsheet__objeto--descripción {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contenido__bottomsheet__objeto__vinilo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1vh;
}

.contenido__bottomsheet__objeto__vinilo--imagen{
    width: 60px;
    border-radius: 15px;
    margin-right: 3vw;
}

.contenido__bottomsheet__objeto__orden{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido__bottomsheet__objeto__orden--imagen{
    width: 30px;
    cursor: pointer;
    margin-left: 3vw;
}

.contenido__bottomsheet__objeto__orden--activo{
    display: flex;
    width: 80vw;
    background-color: var(--color--gris--claro);
    padding: 0.5vh 4vw;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.contenido__bottomsheet__objeto__orden--desactivo{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.contenido__bottomsheet__objeto__disposición{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contenido__bottomsheet__objeto__disposición--imagen{
    width: 60px;
    cursor: pointer;
}

.contenido__bottomsheet__objeto__disposición--imagenactiva{
    
    background-color: var(--color--gris--claro);
    padding: 0.5vh 4vw;
    border-radius: 19px;
}

/* Mostrar bottom sheet cuando es el objetivo */
:target {
    bottom: 0;
}

.contenido__bottomsheet__objeto--botonCancelar,
.contenido__bottomsheet__objeto--pagar,
.contenido__bottomsheet__objeto__vinilo--boton{
    cursor: pointer;
    border-radius: 5px;
    padding: 6px;
    color: #fff;
    border: none;
    font-weight: 800;
    margin: 2px 10px;
}

.contenido__bottomsheet__objeto--botonCancelar{
    background-color: red;
    
    margin-bottom: 50px;
}

.contenido__bottomsheet__objeto--pagar{
    background-color: lime;
    
    margin-bottom: 50px;
}

.contenido__bottomsheet__objeto__vinilo--boton{
    background-color: brown;
}

.carrito__producto {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Estilos elementos especificos*/

a{
    outline: none;
    text-decoration: none;
}

a:link,
a:visited,
a:focus,
a:active  {
    color: var(--color--negro);
}

/* Estilos base para el mensaje */
.mensaje_nodisponible {
    display: none; /* Ocultar el mensaje por defecto */
    width: 100vw;
    height: 80vh;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    background-color: var(--color--gris--claro);
    color: var(--color--negro);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*Diseños y estilos de tablets*/

@media screen and (min-width: 500px){
    .navegación{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .contenido{
        margin: 0 9vw;
        row-gap: 15px;
        column-gap: 20px;
    }

    .contenido__sección__imagen {
        width: 40vw;
        height: 20vh;
    }
}

@media screen and (min-width: 575px){
    body{
        display: none;
    }
}

@media screen and (max-width: 320px){
    body{
        display: none;
    }
}

/*Diseños y estilos de PC*/

@media screen and (min-width: 640px){
    .contenido{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contenido__sección__imagen{
        width: 25vw;
        height: 16vh;
    }

    .base{
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 800px){
    .contenido{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .contenido__sección__imagen {
        width: 18vw;
        height: 14vh;
    }

    .base{
        justify-content: space-evenly;
        margin: 0 4vw;
    }
}

@media screen and (min-width: 1024px){
    .contenido{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .contenido__sección__imagen {
        width: 15vw;
        height: 14vh;
    }
}

@media screen and (min-width: 1280px){
    .contenido{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .contenido__sección__imagen {
        width: 12vw;
        height: 14vh;
    }
}