:root{

    /*Variables basicas de uso*/
    --color--principal: #fff;
    --color--secundario: #06A77D;
    --color--terciario: #D5C67A;
    --color--negro: #000;
    --color--gris: rgb(85, 79, 79);
    --color--transparente: rgba(0,0,0,0.0);
    --color--opaco: rgba(0,0,0,0.4);
}

/*Declaración de la fuente*/
@font-face{
    font-family: 'heyWow';
    src: url(/heywow/HeyWowMedium.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    /*Se elimina el margin basico de los elementos*/
    margin: 0;

    /*Aplicamos la fuente anteriormente declarada*/
    font-family: 'heyWow';
}

.cabecera{
    padding-top: 1vh;
}

.cabecera,
.base{
    /*Estilos cabecera-base*/
    display: flex;
    justify-content: space-around;
    align-items: center;

    /*Tamaño de la cabecera-base*/
    width: 100vw;
    height: 10%;
}

.cabecera__imagen,
.base__imagen{
    /*Tamaño de los iconos*/
    height: 40px;
}

.base{
    display: flex;
    background-color: var(--color--principal);
    width: 100vw;
    height: auto;

    /*Estilo de posición fija del footer*/
    position: fixed;
    bottom: 0;
}

.base__enlace{
    /*Estilo de cada icono del footer*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.navegación{
    /*Estilos de la barra de navegación*/
    display: flex;
    align-items: center;
    overflow: scroll;
    gap: 0 2%;

    margin: 0 1.2%;


    /*Tamaño*/
    width: 100vw;
    height: 8vh;
}

.navegación__enlace--activado{
    font-weight: 1000;
}

.contenido{
    display: grid;
    grid-template-columns: auto auto ;
    row-gap: 9px;
    column-gap: 9px;

    margin-bottom: 20%;
}

.contenido__sección{
    height:fit-content;
}

.contenido__sección__imagen{
    width: 50vw;
    height: 20vh;
}

.contenido__sección__descripción{
    margin: 0;
    margin-bottom: 2px;
    color: var(--color--gris);
}

.contenido__sección--peso{
    color: var(--color--terciario);
}


/*Estilos del Modal o PopUp*/

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 15vh;
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100%; 
    overflow:auto; 
    background-color: var(--color--transparente); 
    backdrop-filter: blur(10px);
}

/*Mostrar el modal cuando se selecciona*/
.modal:target {
    display: block;
}

/*Contenido del modal*/
.modal__contenido {
    background-color: var(--color--transparente); 
    backdrop-filter: blur(10px);
    margin: auto;
    padding: 20px;
    width: 80%;
    animation: modalopen 0.4s; /*Animación*/

    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 8vh 8vh 8vh 8vh 8vh 15vh;
    align-items: center;
    justify-items: end;
}

/*Animación para abrir el modal */
@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

/*Botón para cerrar */
.close {
    width: 27%;
    height: 30px;
    color: var(--color--negro);
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;

    grid-column: 2/3;
}

.close:hover,
.close:focus {
    color: var(--color--negro);
    text-decoration: none;
    cursor: pointer;
}

/* Imagen dentro del modal */
.modal__image {
    background-color: var(--color--principal);
    width: 100%;
    border-radius: 20px;

    grid-column: 1/2;
    grid-row: 2/6;
}

/*Estilos de los logos*/
.modal__logo{
    background-color: var(--color--principal);
    border-radius: 12px;

    width: 48px;
    height: 48px;

    grid-column: 2/3;
}

.modal__perfil{
    background-color: var(--color--principal);
    border-radius: 8px;

    width: 80vw;

    grid-column: 1/3;
    grid-row: 6/7;
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 1vh 0;
}

.modal__perfil--imagen{
    width: 40px;
    height: 40px;

    border-radius: 40px;
}

.modal__logo {
    transition: transform 0.3s ease-in-out;
}

.modal__logo:hover {
    background-color: var(--color--secundario);
    
    /*Aumenta el tamaño del logo al 120%*/
    transform: scale(1.2); 
}

/*Estilos elementos especificos*/

a{
    outline: none;
    text-decoration: none;
}

a:link,
a:visited,
a:focus,
a:active  {
    color: var(--color--negro);
}